<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.adm.mapper.SolarAdmMeetingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="generator.adm.entity.SolarAdmMeetingPo">
        <result column="id" property="id" />
        <result column="room_id" property="roomId" />
        <result column="name" property="name" />
        <result column="date" property="date" />
        <result column="times" property="times" />
        <result column="state" property="state" />
        <result column="owner_name" property="ownerName" />
        <result column="note" property="note" />
        <result column="participant_ids" property="participantIds" />
        <result column="participant_names" property="participantNames" />
        <result column="location_id" property="locationId" />
        <result column="owner_id" property="ownerId" />
        <result column="room_info" property="roomInfo" />
        <result column="remind_state" property="remindState" />
        <result column="meeting_end_time" property="meetingEndTime" />
        <result column="schedule_id" property="scheduleId" />
        <result column="meeting_start_time" property="meetingStartTime" />
        <result column="remind_time" property="remindTime" />
        <result column="owner_avatar" property="ownerAvatar" />
    </resultMap>

</mapper>
